<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 스프링 컨테이너가 생성할 객체 등록 -->
	<!-- <bean id="tv" class="com.ssamz.biz.tv.SamsungTV" init-method="멤버변수초기화" 
		destroy-method="자원해제" lazy-init="default" scope="prototype"></bean> <bean 
		id="tv" class="com.ssamz.biz.tv.GoogleTV"> <property name="speaker" ref="speaker"/> 
		<property name="price" value="1200000"/> </bean> <bean id="speaker" class="com.ssamz.biz.tv.SonySpeaker"/> 
		<bean id="tv" class="com.ssamz.biz.tv.GoogleTV" p:speaker-ref="speaker" p:price="1000000"/> 
		<bean id="collection" class="com.ssamz.biz.tv.CollectionBean"> <property 
		name="addressList" > <props> <prop key="둘리">쌍문동</prop> <prop key="또치">면목동</prop> 
		</props> </property> </bean> -->

	<!-- Annotation 기반의 IOC 설정 -->
	<context:component-scan base-package="com.ssamz.biz" />

	<!-- 유지보수 과정에서 변경되는 객체를 하나만 생성하기 위한 bean 등록 -->
	<bean class="com.ssamz.biz.tv.AppleSpeaker"/>
	<bean id="tv" class="com.ssamz.biz.tv.GoogleTV"/>
	
</beans>
